{% extends 'base.html.twig' %}
{% block title %}Adm - Dashboard{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Montserrat', sans-serif;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="h-100">
        <nav style="height: 10%;" class="navbar navbar-dark bg-danger">
            <div class="h-100 gap-3">
                <a class="navbar-brand" href="{{ path('app_adm_dashboard_render') }}">
                    <img class="h-100" title="Alltech" src="{{ asset('images/alltech-logo.svg') }}" alt="logo fatec">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="bg-light offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
                            <img src="{{ asset('images/alltech-logo-black.svg') }}" alt="logo fatec">
                        </h5>
                        <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <form class="d-flex mb-3" role="search">
                            <input class="form-control me-2" type="search" placeholder="Procurar..." aria-label="Search">
                            <button class="btn btn-secondary" type="submit">
                                <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><style>svg.search-icon{fill:#f2f2f2}</style><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
                            </button>
                        </form>
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 text-secondary">
                            <li class="nav-item">
                                <a class="nav-link active text-body-emphasis font-weight-bold d-flex align-items-center justify-content-start gap-2" aria-current="page" href="{{ path('app_adm_dashboard_render') }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><style>svg{fill:#000000}</style><path d="M128 136c0-22.1-17.9-40-40-40L40 96C17.9 96 0 113.9 0 136l0 48c0 22.1 17.9 40 40 40H88c22.1 0 40-17.9 40-40l0-48zm0 192c0-22.1-17.9-40-40-40H40c-22.1 0-40 17.9-40 40l0 48c0 22.1 17.9 40 40 40H88c22.1 0 40-17.9 40-40V328zm32-192v48c0 22.1 17.9 40 40 40h48c22.1 0 40-17.9 40-40V136c0-22.1-17.9-40-40-40l-48 0c-22.1 0-40 17.9-40 40zM288 328c0-22.1-17.9-40-40-40H200c-22.1 0-40 17.9-40 40l0 48c0 22.1 17.9 40 40 40h48c22.1 0 40-17.9 40-40V328zm32-192v48c0 22.1 17.9 40 40 40h48c22.1 0 40-17.9 40-40V136c0-22.1-17.9-40-40-40l-48 0c-22.1 0-40 17.9-40 40zM448 328c0-22.1-17.9-40-40-40H360c-22.1 0-40 17.9-40 40v48c0 22.1 17.9 40 40 40h48c22.1 0 40-17.9 40-40V328z"/></svg>
                                    <p class="m-0 fw-bold">Dashboard</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active text-body-emphasis font-weight-bold d-flex align-items-center justify-content-start gap-2" aria-current="page" href="{{ path('app_equipments_render') }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><style>svg{fill:#000000}</style><path d="M64 0C28.7 0 0 28.7 0 64V352c0 35.3 28.7 64 64 64H240l-10.7 32H160c-17.7 0-32 14.3-32 32s14.3 32 32 32H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H346.7L336 416H512c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H64zM512 64V288H64V64H512z"/></svg>
                                    <p class="m-0 fw-bold">Equipamentos</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active text-danger font-weight-bold d-flex align-items-center justify-content-start gap-2" aria-current="page" href="{{ path('app_user_logout') }}">
                                    <svg class="logout" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><style>svg.logout{fill:#dc3545}</style><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/></svg>
                                    <p class="m-0 fw-bold">Sair</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div style="height: 90%;" class="container-fluid py-4 px-5">
            <div style="height: 10%;" class="body-header">
                <div class="d-flex align-items-center justify-content-between">
                    <h3 class="fw-bold">Doações</h3>
                </div>
                <hr class="text-black-50">
            </div>
            <div style="height: 90%;" class="body-body pt-5">
                <div style="box-shadow: 0 2px 4px 1px rgba(0,0,0,0.24);" class="h-100 container-fluid rounded border-top border-3 border-danger">
                    <div class="h-100 px-2 pb-2 pt-4">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#pending-donations-tab" type="button" role="tab" aria-controls="pending-donations-tab" aria-selected="true">Pendentes</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#completed-donations-tab" type="button" role="tab" aria-controls="completed-donations-tab" aria-selected="false">Concluídas</button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2" id="myTabContent">
                            <div class="tab-pane fade show active" id="pending-donations-tab" role="tabpanel" aria-labelledby="pending-donations-tab" tabindex="0">
                                <table id="pendant-orders-table" class="w-100 row-border">
                                    <thead>
                                    <tr>
                                        <th>Destinatário</th>
                                        <th>Telefone</th>
                                        <th>Ações</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="tab-pane fade show pt-2" id="completed-donations-tab" role="tabpanel" aria-labelledby="completed-donations-tab" tabindex="0">
                                <table id="concluded-orders-table" class="w-100 row-border">
                                    <thead>
                                    <tr>
                                        <th>Destinatário</th>
                                        <th>Telefone</th>
                                        <th>Data da entrega</th>
                                        <th>Ações</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModalLg" tabindex="-1" aria-labelledby="exampleModalLgLabel" style="display: none;" aria-hidden="true">
            <div class="more-details modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="px-4">
                        <div class="modal-header">

                        </div>
                        <div class="modal-body">
                            <div style="box-shadow: 0 2px 4px 1px rgba(0,0,0,0.24);" class="h-100 container-fluid rounded border-top border-3 border-danger">
                                <div class="h-100 px-2 pb-2 pt-4">
                                    <div id="modal-content" >

                                    </div>
                                    <div style="height: 100px" class="d-flex justify-content-between align-items-center">
                                        <div class="alert alert-warning d-flex align-items-center" role="alert">
                                            <div>
                                                <span>
                                                    <svg class="attention" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><style>svg.attention{fill:#664d03}</style><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
                                                    </span>
                                                O pedido ainda não foi concluído
                                            </div>
                                        </div>
                                        <div class="d-flex gap-2">
                                            <button data-bs-dismiss="modal" type="button" class="btn btn-secondary">Fechar</button>
                                            <button type="button" class="btn btn-success">Concluir pedido</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="concludeOrder" tabindex="-1" aria-labelledby="exampleModalLgLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="px-4">
                        <div class="modal-header">
                        </div>
                        <div class="modal-body">
                            <div style="box-shadow: 0 2px 4px 1px rgba(0,0,0,0.24);" class="h-100 container-fluid rounded border-top border-3 border-danger">
                                <div class="h-100 px-2 pb-2 pt-4">
                                    <div id="modal-content" >
                                    </div>
                                    <div style="height: 100px" class="d-flex justify-content-end align-items-center">
                                        <div class="d-flex gap-2">
                                            <button data-bs-dismiss="modal" type="button" class="btn btn-secondary">Cancelar</button>
                                            <button type="button" class="btn btn-success">
                                                <svg class="link" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512"><style>svg.link {fill:#fafafa}</style><path d="M579.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L422.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C206.5 251.2 213 330 263 380c56.5 56.5 148 56.5 204.5 0L579.8 267.7zM60.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C74 372 74 321 105.5 289.5L217.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C433.5 260.8 427 182 377 132c-56.5-56.5-148-56.5-204.5 0L60.2 244.3z"/></svg>
                                                Vincular
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

        <script>
            (function ($) {
                $(document).ready(function() {
                    let dataTablesPendantOrders = $('#pendant-orders-table').DataTable({
                        "ajax": {
                            "url": "/pendant-orders",
                            'dataSrc': function(data) {
                                return JSON.parse(data.data);
                            }
                        },
                        iDisplayLength: 25,
                        "columns": [
                            { "data": "user.name" },
                            { "data": "user.phone" },
                            { "data": null, 'width': '10%'},
                        ],
                        'language': {
                            url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/pt-BR.json',
                        },
                        searching: false,
                        responsive: true,
                        ordering: false,
                        serverSide: true,
                        lengthChange: false,
                        paging: false,
                        autoWidth: true,
                        processing: true,
                        createdRow: function (row, data, dataIndex) {
                            let id = data.id;
                            let donationDataStringJson = JSON.stringify(data);

                            let actionsHtml = `<div class="actions d-flex gap-2"><button data-bs-toggle="modal" data-bs-target="#concludeOrder" class="btn btn-success btn-finish" type="submit" data-id="' + id + '"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><style>.btn-finish > svg{fill:#fafafa}</style><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg></button><button type="submit" data-bs-toggle="modal" data-bs-target="#exampleModalLg" class="btn btn-info btn-donation-info" data-donation='${donationDataStringJson}' data-id="' + id + '"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><style>.btn-donation-info > svg{fill:#fafafa}</style><path d="M192 0c-41.8 0-77.4 26.7-90.5 64H64C28.7 64 0 92.7 0 128V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H282.5C269.4 26.7 233.8 0 192 0zm0 64a32 32 0 1 1 0 64 32 32 0 1 1 0-64zM72 272a24 24 0 1 1 48 0 24 24 0 1 1 -48 0zm104-16H304c8.8 0 16 7.2 16 16s-7.2 16-16 16H176c-8.8 0-16-7.2-16-16s7.2-16 16-16zM72 368a24 24 0 1 1 48 0 24 24 0 1 1 -48 0zm88 0c0-8.8 7.2-16 16-16H304c8.8 0 16 7.2 16 16s-7.2 16-16 16H176c-8.8 0-16-7.2-16-16z"/></svg></button></div>`;
                            let columnActions = $(row).find('td:eq(2)');

                            columnActions.html(actionsHtml);
                        }
                    });
                    dataTablesPendantOrders.draw();

                    $('#pendant-orders-table').on('click', '.btn-donation-info', (e) => {
                        let donationData = $(e.target).data('donation');

                        let listHeader = `<p class="fw-normal" style="font-size: 13px; margin-bottom: 0">
                                Mais informações do pedido de: <span class="fw-bold">${ donationData.user.name }</span>
                            </p>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>`

                        let list  = `<ul class="lh-lg">
                            <li style="font-size: 13px"><span class="fw-bold" >Destinatário:</span> ${ donationData.user.name } </li>
                        <li style="font-size: 13px"><span class="fw-bold" >Telefone:</span> ${ donationData.user.phone }</li>
                        <li style="font-size: 13px"><span class="fw-bold" >Descrição do pedido:</span> ${ donationData.description } </li>
                        <li style="font-size: 13px"><span class="fw-bold" >Endereço</span>
                            <ul>
                                <li style="font-size: 13px">
                                    <span class="fw-bold" >CEP:</span> ${ donationData.address.cep }
                                </li>
                                <li style="font-size: 13px">
                                    <span class="fw-bold" >Cidade:</span> ${ donationData.address.city }
                                </li>
                                <li style="font-size: 13px">
                                    <span class="fw-bold" >Bairro:</span> ${ donationData.address.neighborhood }
                                </li>
                                <li style="font-size: 13px">
                                    <span class="fw-bold" >Rua:</span> ${ donationData.address.street }
                                </li>
                                <li style="font-size: 13px">
                                    <span class="fw-bold" >Número:</span> ${ donationData.address.number }
                                </li>
                            </ul>
                        </li>
                    </ul>`;

                        $('.more-details .modal-header').html(listHeader)
                        $('.more-details #modal-content').html(list);
                    })

                    let dataTablesConcludedOrders = $('#concluded-orders-table').DataTable({
                        "ajax": {
                            "url": "/concluded-orders",
                            'dataSrc': function(data) {
                                return JSON.parse(data.data);
                            }
                        },
                        iDisplayLength: 25,
                        "columns": [
                            { "data": "receiver" },
                            { "data": "phone" },
                            { "data": "deliveryDate" },
                            { "data": null, 'width': '10%'},
                        ],
                        'language': {
                            url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/pt-BR.json',
                        },
                        searching: false,
                        responsive: true,
                        ordering: false,
                        serverSide: true,
                        lengthChange: false,
                        paging: false,
                        autoWidth: true,
                        processing: true,
                        createdRow: function (row, data, dataIndex) {
                            let id = data.id;
                            let donationDataStringJson = JSON.stringify(data);

                            let actionsHtml = `<div class="actions d-flex gap-2"><button type="submit" data-bs-toggle="modal" data-bs-target="#exampleModalLg" class="btn btn-info btn-donation-info" data-donation='${donationDataStringJson}' data-id="' + id + '"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><style>.btn-donation-info > svg{fill:#fafafa}</style><path d="M192 0c-41.8 0-77.4 26.7-90.5 64H64C28.7 64 0 92.7 0 128V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H282.5C269.4 26.7 233.8 0 192 0zm0 64a32 32 0 1 1 0 64 32 32 0 1 1 0-64zM72 272a24 24 0 1 1 48 0 24 24 0 1 1 -48 0zm104-16H304c8.8 0 16 7.2 16 16s-7.2 16-16 16H176c-8.8 0-16-7.2-16-16s7.2-16 16-16zM72 368a24 24 0 1 1 48 0 24 24 0 1 1 -48 0zm88 0c0-8.8 7.2-16 16-16H304c8.8 0 16 7.2 16 16s-7.2 16-16 16H176c-8.8 0-16-7.2-16-16z"/></svg></button></div>`;
                            let columnActions = $(row).find('td:eq(2)');

                            columnActions.html(actionsHtml);
                        }
                    });
                });
            })(jQuery);
        </script>
    {% endblock %}
{% endblock %}
